:root {
  --branco-principal: #FFFFFF;
  --cinza-secundario: #CCCCCC;
  --botao-azul: #167BF7;
  --cor-de-fundo: #000000;

}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
}

* {
margin: 0;
padding: 0;
}

.principal {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  height: 100vh;
}

.container_botao {
  background-color: var(--botao-azul);
  border-radius: 16px;
}